@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.main-container .left-side-bar{
    background-color: #12192c;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: calc(100%);
    padding: 20px 0;
    transition: all 0.5s ease;
}

.li{
    justify-content: space-around;
    margin:20px
}

.logo {
    width: 100%;
    padding: 0px 0px 16px;
    text-align: center;
}
.logo img{
    width: 180px;
}
.main-container .right-side-bar {
    background-color: #181d30;
    height: 100vh;
    width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;    
}

.podcast{
    margin-top: 30px;
    margin-left: 40px;
    color: white;
    font-weight: 1200;
    font-size: 20px;
    justify-content: space-around;
    margin-bottom: 30px;
}
.nav-link a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.nav-link .active{
    color:#1dd65f;
}
.nav-text{
    padding-left: 18px;
}

.nav-link:hover a span{
    padding-left: 30px;
    transition: all 0.5s ease;
    color:#1dd65f;
}
.nav-link:hover i{
    color:#1dd65f;
    -webkit-animation: nextarrow 1s infinite;
    -moz-animation: nextarrow 1s infinite;
    -o-animation: nextarrow 1s infinite;
    animation: nextarrow 1s infinite;
}
@keyframes nextarrow {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
}
.uppercase{
    text-transform: uppercase;
}
.text-red{
    color:#e55e86;
    font-size:11px
}
.nav-heading{
    padding: 8px 8px 8px 32px;

}
.section{
    margin-top: 20px;

}
#section-play
st .nav-link a{
    padding: 8px 8px 8px 15px;
}
/* .bottom{
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 65px;
    border-top: 1px solid #000;
    position: relative;
    bottom: 0;
    background-color: bisque;
} */

.bottom {
    /* display: flex; */
    align-items: center;
    padding: 0 15px;
    height: 80px;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
}
/* .top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 65px);
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
} */
.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 65px);
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
}

/* music player css */

.audio-container {
    /* background-color: #FFF; */
    display: flex;
    padding: 5px 32px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.img-container {
    position: relative;
    width: 70px;
    display: flex;
    left: calc(100% - 99%);
  }

  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: inherit;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;

  }
  .img-container h4#title {
    text-align: center;
    top: 0;
    vertical-align: middle;
    position: relative;
    left: calc(100% - 78%);
    top: 22px;
}

  .audio-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    left: calc(100% - 90%);
  }

  .action-btn {
    color: #000;
    font-size: 10px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
    background: transparent;
    border: none;
}


  .action-btn.action-btn-big {
    background-color: #1dd55e;
    color: #fff;
    border-radius: 50%;
    width: 35px;
}

  .action-btn:focus {
    outline: 0;
  }

  .audio-info {
    border-radius: 15px 15px 0 0;
    top: 11px;
    left: calc(100% - 96%);
    width: calc(100% - 60%);
    padding: 10px 10px 10px 150px;
    opacity: 1;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 1;
    position: relative;

  }

  .audio-container.play .audio-info {
    opacity: 1;
    /* transform: translateY(-100%); */
  }

  .audio-info h4 {
    margin: 0;
  }

  .progress-container {
    background: #1dd65f;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
    position: absolute;
  }

  .progress {
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;
  }

  .imagecentre {
    height: 40px;
    width: 40px;
  }


  .search-box{
    margin: 20px;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-left: 30px;
    float:left;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #181d30;
    padding-right: 40px;
    color: grey;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:grey ;
    background-color:transparent;
    pointer-events: painted;
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid
  }
  .profile {
    float:right;
  }

.img{
    margin: 20px 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.podcast-cover{
  width: 900px;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin: 80px 0px 0px 200px;
}

.cover{
  width: 900px;
  height: 400px;
}


.popular-artists-container {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popular-artists-header {
  width: 100%;
}

.popular-artists-header p {
  color: #CECFD3;
  font-size: 1.1rem;
  font-weight: 700;
}

.popular-artists-img-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.7rem;
}

.popular-artists-1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 15%;
}

.popular-artists-1-container p {
  color: white;
  font-size: 0.8rem;
}

.popular-artists-img1-container {
  width: 75%;
  position: relative;
  overflow: hidden;
}

.popular-artists-img1-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.popular-artists {
  position: absolute;
  padding-top: 42%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(the\ show.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-size: cover;
  border-radius: 4rem;
  transition: all 0.2s ease-in-out;
}

.popular-artists-2 {
  background-image: url(becomingwise.jpg) !important;
}

.popular-artists-3 {
  background-image: url(lesser-known-somebodies.jpg) !important;
}

.popular-artists-4 {
  background-image: url(the-climate-question.jpg) !important;
}

.popular-artists-5 {
  background-image: url(the\ ezra\ klein\ show\(1\).jpg) !important;
}

.popular-artists-6 {
  background-image: url(podcast-cover.jpeg) !important;
}

.popular-artists>a {
  position: static;
  height: 0;
  display: none;
  overflow: hidden;
  color: white;
}

.popular-artists:hover>a {
  height: 4rem;
  display: inline;
}

.popular-artists:hover {
  opacity: 0.7;
  color: white;
}

.trending{
  font-style: italic;
  font-weight: bolder;
  text-decoration: white;
  color: white;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.player-extras {
  display: flex;
  width: 20%;
  min-width: 115px;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0px 0px 1200px;
}

.volume-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#volume-slider {
  width: 80%;
}
